@font-face {
    font-family: dubba-dubba;
    src: url("./dubba-dubba.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: voltaire;
    src: url("./voltaire.otf") format('opentype');
    font-weight: bold;
    font-style: normal;
}

html {
    background-color: black;
    color: white;
    font-family: voltaire;
    font-size: 2em;
}

header {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    text-align: center;
}

img {
    margin: -1em;
}

body {
    margin: auto;
}

article {
    border-bottom: 4px inset #D60000;
    border-left: 0;
    border-right: 0;
    border-style: inset;
    border-top: 4px inset #D60000;
    font-size: 0.85em;
    margin: auto;
}

article p {
    margin: 2em;
}

footer {
    background-color: black;
    color: white;
    font-size: 0.85em;
    margin-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}

img {
    align-content: center;
    align-self: center;
}

h1, h2, h3, img {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-family: dubba-dubba;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-family: dubba-dubba;
    font-size: 2em;
    margin: 0;
}

h3 {
    margin: 0;
}

a {
    color: #D60000;
}
